@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.font-plus-jakarta {
  font-family: var(--font-plus-jakarta);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-manrope {
  font-family: var(--font-manrope);
}

.font-geist {
  font-family: var(--font-geist-sans);
}

.font-ibm {
  font-family: var(--font-ibm);
}
.font-space-grotesk {
  font-family: var(--font-space-grotesk);
}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-source-sans {
  font-family: var(--font-source-sans);
}
